<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, alias placeat! Saepe maiores magni voluptas modi quos sed quaerat asperiores sapiente eligendi id sint ab, doloremque nihil? Inventore, magni veritatis! </p>

    </div>
</section>