<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App NodeJs and MongoDB </h1>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis minus explicabo corrupti cum perspiciatis delectus quae aliquam in libero possimus magni vitae hic numquam maxime nesciunt saepe, atque culpa quis!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia doloribus amet dolore veniam sed vel, architecto earum maiores repellendus tenetur.</p>
    <a href="https://www.linkedin.com/in/damiansimon/" class="btn btn-primary">LinkedIn</a>
</div>